sudo: required
services:
  - docker

before_install:
  - docker build -t welingtonfx/multi-docker-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true welingtonfx/multi-docker-test npm test

after_success:
  - docker build -t welingtonfx/multi-client ./client
  - docker build -t welingtonfx/multi-nginx ./nginx
  - docker build -t welingtonfx/multi-server ./server
  - docker build -t welingtonfx/multi-worder ./worker
